@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shoe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid white
}

.shoe-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.shoe-list {
  text-align: left;
  font-weight: bold;
  position: absolute; 
  left: 0; 
}




.shoe-container {
  display: flex;
  align-items: start;
  height: 100vh;
}

.shoe-thumbnails {
  flex: 0 0 20%; 
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  padding: 10px;
}

.thumbnail-image {
  width: 100%; 
  margin-bottom: 10px; 
  cursor: pointer;
  object-fit: cover;
}

.shoe-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-shoe-image {
  max-width: 60%; 
  max-height: 80%;
  object-fit: contain;
}

.thumbnail-video {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
  cursor: pointer;
}

.selected-video {
  width: 100%; 
  height: 500px; 
}



/* Navbar.css */
.navbar {
  text-align: center;
  margin-bottom: 20px;
}

.navbar h1 {
  font-size: 48px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: center;
  background-color: rgba(5, 5, 5, 0.85); 
  padding: 10px 0;
  width: 100%; 
  margin: 0 auto; 
}

.links a {
  color: rgb(16, 0, 0);
  background-color: rgba(203, 241, 53, 0.75);
  border-radius: 8px;
  padding: 8px 15px;
  margin: 0 20px; 
  text-decoration: none; 
  transition: background-color 0.3s; 
}

.links a:hover {
  background-color: #e1255b; 
}
